@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar__wrapper{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    overflow: hidden;
}

.navbar__logo img{
    max-width: 120px;
}

.navbar__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.instagram{
    color: white;
    font-size: 14px;
}

.hero__section img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width : 425px){
    .navbar__wrapper{
        padding: 0.5rem 0.75rem;
    }
    .navbar__logo img{
        max-width: 60px;
    }

    .navbar__heading img{
        max-width: 120px;
    }

    .navbar__wrapper{
        gap : 20px;
    }

    .navbar__contacts{
        font-size: 12px;
    }
}
